body {
    background-color:black;
    font-family:arial;
    color:white
}

h1 {
   
    color:grey;
    font-family: Verdana;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
}

footer {
    padding-top: 10px;
    padding-bottom: 40px;
   
   
}
    

.maindiv {
    position: relative;
    background-color: white;
    color: black;
    width: 475px;
    height:fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin: auto;
    border-radius: 25px;
    
}

.inputsdiv {
    margin-left: 50px;
    margin-right: auto;
    width: fit-content;   
}

.inputsdiv label{
    margin-bottom: 10px;

}

.inputsdiv input {
    margin-bottom: 20px;
    margin-left: 130px;

}

.inputsdiv select {
    margin-bottom: 20px;
    margin-left: 130px;

}

.inputsdiv label {
    position: absolute;
}


.inputsdiv {
    margin-left: 50px;
    margin-right: auto;
    width: fit-content;   
}

.resultdiv {
    margin-top: 15px;
}